{
    "root": true,
    "env": {
      "node": true,
      "browser":true,
      "ES2021":true
    },
    "plugins": ["@typescript-eslint", "import"],
    "extends": [
      "eslint:recommended",
      "plugin:vue/essential",
      "@vue/typescript",
      "plugin:prettier/recommended",
      "prettier"
    ]
}