@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;900&display=swap');



/* Colors */

$bg-light: #f3f4f6;
$bg-light-snd: #ffffff;

$text-primary-light: #121415;
$text-gray200: #e5e7eb;
$text-gray300: #d1d5db;
$text-gray600: #4b5563;
$text-gray500: #64748b;
$text-white: #ffffff;

$purple-prim: #7e22ce;
$purple-prim-hover: #9333ea;

$success: #047857;
$success-hover: #10b981;
$warn: #e11d48;
$warn-hover: #f43f5e;

$overlay: rgba(41, 41, 41, 0.3);

$gray-hover: rgba(209,213,219, 0.3);


/* Border radius */

$rounded: 0.375rem;
$rounded-lg: 1rem;
$rounded-md: .5rem;


/* Overlay */

$overlay-color: rgba(0,0,0,0.4);

/* Fonts */
$body-font: 'Noto Sans', sans-serif;


/* Breakpoints */

$breakpoints: (
  sm: 576px,
  md: 960px,
  lg: 1440px)